:root {
  --vp-nav-height: 56px;
  --vp-c-divider: transparent;
  --vp-c-indigo-1: #FF64A5;
  /* --vp-c-bg: #161618; */
}

.dark {
  /* --vp-c-bg: #fff; */
}

.wrapper {
  background: linear-gradient(90deg, #FF64A5 0%, #FCD535 100%), rgba(0, 0, 0, 0.04)
}

.content-body {
  background: transparent !important;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #FF64A5 30%, #FCD535);

  --vp-home-hero-image-background-image: linear-gradient(45deg, #FF64A5 50%, #FCD535 50%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}
